mixin product-card(title, price, imageUrl, description, actions)
    article.card.product-item
        header.card__header
            h1.product__title #{title}
        .card__image
            img(src=`${imageUrl}`, alt="A book")
        .card__content
            h2.product__price #{price}€
            p.product__description #{description}
        .card__actions
            if actions != undefined && actions.length > 0
                for action in actions
                    form(action=`${action.link}` method=`${action.method}` style="display: inline")
                        button.btn #{action.name}